<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ name }}</title>
   <!-- COMMON TAGS -->
    <meta charset="utf-8" />
    <!-- Search Engine -->
    <meta name="description" content="Information about {{ name }}" />
    <meta name="image" content="https://mgwalker.github.io/atlantic-hurricanes/{{ id }}.html" />
    <!-- Schema.org for Google -->
    <meta itemprop="name" content="{{ name }}" />
    <meta itemprop="description" content="Information about {{ name }}" />
    <meta itemprop="image" content="https://18f.org/social.gif" />
    <!-- Twitter -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="{{ name }}" />
    <meta name="twitter:description" content="Information about {{ name }}" />
    <meta name="twitter:image:src" content="https://18f.org/social.gif" />
    <!-- Open Graph general (Facebook, Pinterest & Google+) -->
    <meta name="og:title" content="{{ name }}" />
    <meta name="og:description" content="Information about {{ name }}" />
    <meta name="og:image" content="https://18f.org/social.gif" />
    <meta name="og:url" content="https://mgwalker.github.io/atlantic-hurricanes/{{ id }}.html" />
    <meta name="og:site_name" content="{{ name }}" />
    <meta name="og:locale" content="en_US" />
    <meta name="og:type" content="website" />

    <link rel="stylesheet" type="text/css" href="main.css">
  </head>
  <body>
    <h1>
      {{ name }}
      <p class="updated">
        {{ updated }}
      </p>
    </h1>

    <table>
      <tr>
        <th>Maximum sustained wind</th>
        <td>{{ maximum_sustained_wind_mph }} mph</td>
      </tr>
      <tr>
        <th>Minimum central pressure</th>
        <td>{{ minimum_central_pressure_mb }} mb</td>
      </tr>
      <tr>
        <th>Movement</th>
        <td>{{ heading }}</td>
      </tr>
    </table>
  </body>
</html>