body {
  color: #232129;
  padding: 96;
  font-family: -apple-system, Roboto, sans-serif, serif;
}

h1 {
  margin-top: 0;
  margin-bottom: 16px;
}

.updated {
  color: #636169;
  font-size: 1rem;
  font-style: italic;
  margin: 0;
}

table {
  border: 1px solid black;
}

tr + tr th,
tr + tr td {
  border-top: 1px solid black;
}

table th {
  padding-bottom: 10px;
  padding-right: 10px;
  text-align: right;
  vertical-align: top;
  width: 100px;
}

table td {
  padding-bottom: 10px;
  text-align: left;
  vertical-align: bottom;
  width: 100px;
}
